<nav class="navbar navbar-expand-lg  navbar-dark bg-dark mb-3">
   <div class="container justify-content-start">
      <a class="navbar-brand" [routerLink]="['']" title="Ir a Inicio">ViajeSeidón</a>

      <div class="navbar-nav">
         <a class="nav-link" [routerLink]="['viajes']" title="Listado de Viajes">Listado de Viajes</a>
         <a class="nav-link" [routerLink]="['viajes/editar']" title="Crear viaje">Crear viaje</a>
         <a class="nav-link" [routerLink]="['clientes']" title="Clientes">Clientes</a>
         <a class="nav-link" [routerLink]="['clientes/editar']" title="Crear cliente">Crear cliente</a>
      </div>

      <div class="logout">
         <i class="fas fa-sign-out-alt" (click)="logout.emit()" title="Cerrar sesión"></i>

      </div>
   </div>




</nav>