<div class="row">
   <div class="col-12 col-md-6 col-lg-4" *ngFor="let v of viajes; let idx = index">
      <div class="card text-dark bg-light mb-3">
         <div class="card-header fw-bold">{{ idx + 1 }} -</div>
         <div class="card-body">
            <h5 class="card-title">{{ v.nombre }}</h5>
            <div class="card-text d-flex">
               <p>
                  <span class="fw-bold">Destino:</span> {{ v.destino }}
                  <br />
                  <span class="fw-bold">Características:</span><br />
                  <span class="fw-bold">Plazas:</span> {{ v.plazas }}<br />
                  <span class="fw-bold">Tipo:</span> {{ v.tipoDeViajeId }}
               </p>
               <p>
                  <br />
                  <span class="fw-bold">Duración:</span> {{ v.duracion }} noches
                  <br />
                  <span class="fw-bold">En oferta:</span> &nbsp;
                  <i class="fas" [ngClass]="v.enOferta ? 'fa-check' : ''"></i><br />
                  <span class="fw-bold">Estado:</span> {{ v.estado }}
               </p>
            </div>
         </div>
      </div>
   </div>
</div>