<div class="row">

   <div class="col-12">
      <table class="table  table-striped table-hover ">
         <thead>
            <tr>
               <th>#</th>
               <th class="left">Nombre</th>
               <th>Destino</th>
               <th>Tipo de Viaje</th>
               <th>Duración</th>
               <th>Plazas</th>
               <th>Precio</th>
               <th>Estado</th>

               <th>Fecha salida</th>
               <th>En oferta</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let v of viajes; let idx = index">
               <th>
                  {{idx+1}}
               </th>
               <td class="left">
                  {{v.nombre}}
               </td>
               <td>
                  {{v.destino}}
               </td>
               <td>
                  {{v.tipoDeViajeId | tipoDeViaje}}
               </td>
               <td>
                  {{v.duracion}}
               </td>
               <td>
                  {{v.plazas}}
               </td>
               <td>
                  {{v.precio | currency:'':"symbol":"1.0-2"}}
               </td>
               <td>
                  {{v.estado}}
               </td>
               <td>
                  {{v.fechaSalida | date: 'mediumDate'}}
               </td>
               <td>
                  <i class="fas" [ngClass]="v.enOferta ? 'fa-check' : ''"></i>
               </td>
               <td><i class="far fa-edit" title="Editar Viaje" (click)="editar.emit(v.id)"></i>&nbsp; <i
                     class="far fa-trash-alt" title="Eliminar Viaje" (click)="eliminar.emit(v)"></i>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>